
.green{
  background: #A5D6A7;
  color: white !important;
}

.darkGreen{
  background: #3cbc80;
  color: white !important;
}

.purple{
  background: #7E57C2;
  color: white !important;
}

.black{
  background: #424242;
  color: white !important;
}